/* Defines the container for the Diet description */
.diet
{
    max-width: 550px;
    margin: 10em auto;
}

/* Customizes the Diet description */ 
.diet-wrapper
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.375em;
    line-height: 1.5em;
}

/* Creates two columns for the Ichiju Sansai section */ 
.ichiju-sansai
{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 20em;
    max-width: 1000px;         
    margin: 10em auto;          
    padding: 1em;   
}

/* Centers the customized description in the parent container column */ 
.ichj-sns-wrapper
{
    box-sizing: border-box; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.375em;
}

/* Aligns the text description to the left, with a specified text element width and line height */ 
.ichj-sns-dscrp 
{
    text-align: left; 
    max-width: 500px;
    line-height: 1.5em;
}

/* Distances the <h2> element from other elements */
.ichj-sns-dscrp h2
{
    margin-bottom: 20px;
}

/* Sets the text orientation of the Kanji vertically */ 
.is-kanji
{
    writing-mode: vertical-rl;
    font-family: "Noto Serif JP", serif;
    font-size: 4em;
}

/* Styles the rows for the Ichiju Sansai menu */ 
.ichiju-sansai2
{
    border: 0.0625em solid #dbd6d0;
    background-color: #dbd6d0;
    height: 33.75em;
    grid-template-rows: auto auto;
}

/* Styles the font size of the <p> elements inside the Ichiju Sansai menu */
.ichiju-sansai2 p
{
    font-size: 1.3em;
    margin-top: 0.3125em;
}

/* Centers the <p> element*/ 
.ichiju-sansai2 div
{
    justify-content: center;
    margin-top: 1em;
    text-align: center;
    font-size: 1.1em;
}

/* Styles the columns for the Ichiju-Sansai menu */
.ichiju-sansai2-ul 
{
    background-color: #dbd6d0;
    display: grid;
    column-gap: 4em;
    justify-items: center;
    align-items: center;
    grid-template-columns: auto auto auto auto auto;
}

/* Aligns the columns inside the Ichiju Sansai menu */ 
.ul-col 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
}

/* Specifies the font size of the Ichiju Sansai menu */ 
.ul-col .ul-sub
{
    font-size: .7em;
}

/* Styles the Kanji elements in customized circles*/
.ul-kanji
{
    box-sizing: border-box;
    font-family: "Noto Serif JP", serif;
    border: 1px solid #eae6e2;
    background-color: #eae6e2;
    border-radius: 100%;
    padding: 5px;
    width: 7.5em;
    height: 7.5em;
    display: flex; /* makes it a flex container */
    align-items: center; /* vertical center */
    justify-content: center; /* horizontal center */
}

/* Specifies the width and height of the following image */ 
.ichiju-sansai2 img
{
    margin-top: 3.125em;
    width: 885px;
    height: 852px;
}

/* Defines the rows for the Ma-Go-Wa-Ya-Sa-Shi-Ii Section */
.magowayasashiii 
{
    display: grid;
    grid-template-rows: auto auto auto auto;
    justify-content: center;
    margin: 50em 0.625em 5em;
    z-index: 1;
    text-align: center;
    row-gap: 3em;
}

/* Specifies the width and height of the section's image */ 
.magowayasashiii img 
{
    width: 650px;
    height: 276px;
}

/* Specifies the font size of the section's <h2> element */ 
.magowayasashiii h2
{
    font-size: 2em;
}

/* Defines the containers, centering all elements within them */ 
.mgwyssi-kanji-container, .mgwyssi-dscrpt-container
{
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    height: 100%;
}

/* Sets the text orientation of the Kanji vertically */ 
.mgwyssi-kanji
{
    writing-mode: vertical-rl;
    font-size: 4em;
    font-family: "Noto Serif JP", serif;
}

/* Styles the <h3> element in the Ma-Go-Wa-Ya-Sa-Shi-Ii Section */
.magowayasashiii h3
{
    font-size: 1.5em;
    font-family: "Vollkorn", serif;
    font-style: italic;
    font-weight: 400;
}

/* Spans the width of the styled div <element> in the description container */ 
.mgwyssi-dscrpt-container div
{
    width: 45%;
    font-size: 1.5em;
    line-height: 1.5em;
}

/* Defines the rows of the table section */
.table
{
 margin: 10em auto;
 display: grid;
 grid-template-rows: auto auto;
 row-gap: 10em;
}

/* Sets the elements within the table section as a flex element for better manipulation */ 
.table-wrapper, .table div
{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Specifies the font size of all <p> elements inside the container */
.table-wrapper 
{
    font-size: 16px;
}

/* Pads the table's headings and data */ 
.table-design th, td
{
    padding: 30px 50px;
}

/* Adds a border underneath the table heading */ 
.table-design th
{
    border-bottom: 2px solid #211009;
}

/* Styles the first row's data to bold */ 
.table-design tr td:first-child
{
    font-style: italic;
    font-weight: 700;
}

