/* parent container */
/* add display: grid and gap: y to distance divs */ 
.shokuiko
{
    display: grid;
    gap: 12em;
    border: 1px solid #eae6e2;
    background-image: linear-gradient(#b7baa5, #eae6e2, #eae6e2, #eae6e2);
    grid-template-rows: auto auto;
    padding: 2em auto;
}

.shokuiko div 
{
    justify-content: center;
    text-align: center;
}

/* parent container */ 
.skk-h
{
    grid-template-rows: auto auto;
}

.skk-h-dscrp
{
    display: grid;
    row-gap: 1em;
    justify-items: center; 
    align-items: center;
}

.skk-h-dscrp h1 
{
    font-family: "Noto Serif JP", serif;
    font-size: 9em; 
    font-weight: 400;
}

.skk-h-dscrp h2
{
    font-family: "Vollkorn", serif;
    font-size: 4em;
    font-weight: 400;
}

.skk-h-dscrp h1, .skk-h-dscrp h2
{
    color: #4b555c;
}

.fep
{
    grid-template-rows: auto auto auto;
}

.fep-dscrp
{
    display: grid;
    justify-items: center;
    align-items: center;
    row-gap: 2em;
}

.fep-dscrp h2
{
    font-size: 2em;
}

.fep-dscrp-container
{
    width: 45%;
    font-size: 1.5em;
}




